body, html {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: Bree;
    src: url(assets/BreeSerif-Regular.ttf);
}

@font-face {
    font-family: 'Kaushan Script';
    src: url(assets/KaushanScript-Regular.ttf);
}

@font-face {
    font-family: 'Nimbus Sans Reg';
    src: url(assets/NimbusSanL-Reg.otf);
}

nav {
    background: url(assets/images/vert-blue-wood.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Bree;
    text-align: center;
    padding: 2rem 1rem!important;
    box-shadow: 0px 5px 10px black;
    z-index: 1;
}

nav a {
    transition: 0.2s;
}

nav a:hover {
    color: #F4F4F4!important;
}

.active {
    color: #F4F4F4!important;
}

.subactive {
    color: #14273e!important;
    background-color: #FBFBFB!important;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.4)!important;
    backdrop-filter: blur(28px);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25)!important;
    border: 1px solid rgba(255, 255, 255, 0.3)!important;
}

.dropdown-menu a {
    color: #FBFBFB;
}

.dropdown-menu a:hover {
    color: #14273e!important;
}

.banner-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a5a73;
    height: 8vh;
    margin: 0 0;
    padding: 1vh;
    box-shadow: 0px 3px 6px black;
    position: relative;
    z-index: 2;
    color: #FBFBFB;
    font-family: Bree;
}

.banner-icons {
    padding-left: 1.5rem;
}

.banner-icons i {
    padding: .3rem;
    color: #FBFBFB;
    border: 2px solid #FBFBFB;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s;
}

#fb-icon {
    width: 29.6px;
    margin-left: .8rem;
}

.banner-icons i:hover {
    color: #14273e;
    background-color: rgba(255, 255, 255, .5);
}

.navbar-toggler {
    border: none!important;
}

.fa-bars {
    color: #FBFBFB;
}

.carousel-item > img {
    width: 150%!important;
    height: 25vh;
}

.main {
    background-color: #2a5a73;
    font-family: Bree;
    text-align: center;
    color:#FBFBFB;
    box-shadow: 0px 5px 15px black;
    padding: 1.5rem .5rem;
}

.banner-home {
    font-size: 1.2rem;
}

.content-home {
    font-size: 1.5rem;
}

.para {
    padding-bottom: 1rem;
}

.about {
    background: url(assets/images/background-3.jpg) no-repeat top center;
    background-size: cover;
    padding: 2rem 1rem;
}

.subheading h2 {
    margin: 1rem 0 1.5rem;
    padding-top: .2rem;
    text-shadow: 2px 2px 5px #1C1C1C;
}

.content-about {
    font-family: 'Nimbus Sans Reg';
    font-weight: 600;
    font-style: normal;
    color: #14273e;
    background-color: rgba(251, 251, 251, .8);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 1rem;
}

.content-about > .para {
    text-align: left;
}

#boats-img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 2px 2px 5px #555454;
}

#quality > .para img {
    float:  right;
    margin-left: .5rem;
    border-radius: 4px;
}

.para h2 {
    font-family: Bree;
}

#small-caps {
    font-variant: small-caps;
    font-size: 1.3rem;
    line-height: 1.1rem;
}

.para ul {
    font-weight: 400;
}

#bold {
    font-weight: 600;
}

#all-small-caps {
    font-variant: all-small-caps;
    font-weight: 600;
    font-size: 1.2rem;
}

#mission-state {
    font-size: 1.2rem;
    text-align: center;
}

#ital-big {
    font-style: italic;
    font-size: 1.5rem;
}

#underline {
    text-decoration: underline;
}

.top-links {
    background-color: #94AEC7;
}

#intro {
    margin-bottom: 2rem;
}

#products img {
    float: right;
    padding: 1.5rem .5rem;
}

#products, #sustain h2 {
    margin-bottom: 1rem;
}

#unbold {
    font-weight: 400;
}

footer {
    background: url(assets/images/vert-blue-wood.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FBFBFB;
    position: relative;
    z-index: -1;
    text-align: center;
    padding: 1.5rem 0 .5rem;
    font-family: Bree;
}

footer h2 {
    font-family: 'Kaushan Script';
    font-size: 2.5rem;
}

.address {
    font-size: 1.3rem;
}

footer hr {
    border-top: 5px dotted #FBFBFB;
    width: 60%;
}

#foot-logo {
    padding: 3rem 0 2rem;
}

#twitter {
    margin: 1rem;
}

#twitter h2 {
    margin: 1.25rem 0;
}

#tweet-btn a {
    background-color: #a2c6e7;
    box-shadow: 0px 3px 10px 0px rgb(38 36 25 / 40%), 0px 2px 0px 0px rgb(255 255 255 / 30%) inset;
    color: #043150;
    padding: .4rem .8rem;
    border-radius: 1vh;
    font-size: 1.3rem;
}

#tweet-btn i {
    padding-right: .7rem;
}

#googleMap {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 15rem;
    background-color: grey;
}

#copyright {
    margin: 1rem 0 .5rem;
}